.card {
  background-color: var(--background-card);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.05);
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.icon {
  color: var(--success-color-strong); /* green-600 */
  margin-right: 0.75rem;
}
.header h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-headings);
}
.display, .form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.incomeValue {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--success-color-strong);
  margin: 0;
}
.editButton {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
  font-weight: 600;
}
.input {
  flex-grow: 1;
  padding: 0.65rem 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-primary);
  color: var(--text-primary);
  border-radius: 0.5rem;
  font-size: 1.25rem;
}
.button {
  background-color: var(--primary-accent);
  color: white;
  padding: 0.65rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.cancelButton {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}